@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

img{ 
   max-width: 100%;
}
p {
  font-family: "Outfit", sans-serif;
  color: #4d5765;
}

/* Abbout section */
.active {
  background: #286e1c;
  color: #fff;
}

/*  */
.director {
  font-family: cursive;
}

.ivan  {
  background-color: #286e1c;
}

.Schltitle {
  color: #286e1c;
}

.staff {
  background: #f6f3f3;
}

.staff-div {
  background: #286e1c;
}

.shade {
  background: #f7e945;
}